<form method="POST" action="/recipes">

    <label name="recipe_name">Recipe Name</label>
    <input type="text" id="recipe_name" name="name"><br>
    <label name="recipe_ingredients">Ingredients: </label>
    <input type="text" id="recipe_ingredients" name="ingredients"><br>
    <label name="">Cook time: </label>
    <input type="text" id="recipe_cook_time" name="cook_time"><br>
    <input type="submit" value="Submit">
</form>