<h1>Create A New Recipe</h1>
<form action="/recipes" method="post">
  recipe Name <input type="text" name="recipe[name]" id='name'>
  recipe Ingredients: <input type="text" name="recipe[ingredients]" id='ingredients'>
  recipe Cook Time: <input type="text" name="recipe[cook_time]" id='cook_time'>
    <input type="submit" id="Submit">
</form>