<form action="/recipes" method="POST">
<lable>Recipe Name</lable>
<input type="text" id="name" name="recipe[name]"><br>
<lable>Ingredients</lable>
<input type="text" id="ingredients" name="recipe[ingredients]"><br>
<lable>Cook Times</lable>
<input type="text" id="cook_time" name="recipe[cook_time]"><br>
<input type="submit" value="Submit">
</form>