<h2><%= @recipe.name %><h2><br>
<%= @recipe.ingredients %><br>
<%= @recipe.cook_time %><br>

<form method="POST" action="/recipes/<%=@recipe.id%>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <button type="submit">delete</button>
</form>